@model TestePositivo.Models.AlunoModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AlunoModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeCompleto" class="control-label"></label>
                <input asp-for="NomeCompleto" class="form-control" />
                <span asp-validation-for="NomeCompleto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNascimento" class="control-label"></label>
                <input asp-for="DataNascimento" class="form-control" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Serie" class="control-label"></label>
                <input asp-for="Serie" class="form-control" />
                <span asp-validation-for="Serie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Segmento" class="control-label"></label>
                <input asp-for="Segmento" class="form-control" />
                <span asp-validation-for="Segmento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomePai" class="control-label"></label>
                <input asp-for="NomePai" class="form-control" />
                <span asp-validation-for="NomePai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeMae" class="control-label"></label>
                <input asp-for="NomeMae" class="form-control" />
                <span asp-validation-for="NomeMae" class="text-danger"></span>
            </div>

            <!-- Adicionando campos de endereço -->
            @* <h4>Endereço</h4>
            <div class="form-group">
                <label asp-for="Endereco.Tipo" class="control-label"></label>
                <input asp-for="Endereco.Tipo" class="form-control" />
                <span asp-validation-for="Endereco.Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco.Rua" class="control-label"></label>
                <input asp-for="Endereco.Rua" class="form-control" />
                <span asp-validation-for="Endereco.Rua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco.CEP" class="control-label"></label>
                <input asp-for="Endereco.CEP" class="form-control" />
                <span asp-validation-for="Endereco.CEP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco.Numero" class="control-label"></label>
                <input asp-for="Endereco.Numero" class="form-control" />
                <span asp-validation-for="Endereco.Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco.Complemento" class="control-label"></label>
                <input asp-for="Endereco.Complemento" class="form-control" />
                <span asp-validation-for="Endereco.Complemento" class="text-danger"></span>
            </div> *@

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
